<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='#dashboard' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-home zmd-2x'></i><strong>Home</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#brochure' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-book zmd-2x'></i><strong>Brochure</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#map' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-map zmd-2x'></i><strong>Branch/ ATM/ Garage</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#login' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-power-off zmd-2x'></i><strong>Logout</strong></a>
	</div>
</div>