<!-- <form name="getCarQuote" id="getCarQuote" data-ajax="false" data-module="carQuote" data-action="getCarQuote"> -->
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="box">
				<label for="carname">Car Name:</label>
        		<input type="text" name="carname" id="carname" value="" data-clear-btn="true" placeholder="Car Name" class="required">

				<label for="registrationNum">Car Registration Number:</label>
        		<input type="text" name="registrationNum" id="registrationNum" value="" data-clear-btn="true" placeholder="Car Registration Number" class="required">
        	</div>

			<div class="box">
				<label for="regYear" class="select">Year Of registration</label>
                <select name="regYear" id="regYear">
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                </select>

				<label for="fuelType" class="select">Fuel Type</label>
                <select name="fuelType" id="fuelType">
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="CNG">CNG</option>
                </select>
        	</div>
    	</div>
	</div>

	<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <input type="submit" class="ui-btn" value="View Quote">
    </div>
<!--     <div id="dialog">
        <div class="content"></div>
    </div>
    <button id="opener">Open Dialog</button> -->
<!-- </body> -->
<!--         <div class="col-xs-12 col-sm-6 col-md-4">
            <button class="ui-btn">Get Quote</button>
        </div> -->
        <!-- <a href="fragments/carQuote.html" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">Open dialog</a> -->
    </div>
<!-- </form> -->
