<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="box">
			<label for="carname">Car Name:</label>
    		<input type="text" name="carname" id="carname" value="" data-clear-btn="true" placeholder="Car Name" class="required">

			<label for="registrationNum">Car Registration Number:</label>
    		<input type="text" name="registrationNum" id="registrationNum" value="" data-clear-btn="true" placeholder="Car Registration Number" class="required">
    	</div>

		<div class="box">
			<label for="regYear" class="select">Year Of registration</label>
            <select name="regYear" id="regYear">
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
            </select>

			<label for="fuelType" class="select">Fuel Type</label>
            <select name="fuelType" id="fuelType">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="CNG">CNG</option>
            </select>
    	</div>
        <br>
<!--         <div data-role="rangeslider" data-track-theme="b" data-theme="a">
            <input type="range" name="range-3a" id="range-3a" min="0" max="10000" value="0">
            <input type="range" name="range-3b" id="range-3b" min="0" max="10000" value="10000">
        </div> -->
        <br>
        <div class="box">
            <label for="drivingarea" class="select">Driving Area</label>
            <select name="drivingarea" id="drivingarea">
                <option value="2016">Mumbai Andheri</option>
                <option value="2015">Mumbai Dadar</option>
                <option value="2014">Ladak</option>
                <option value="2013">Delhi</option>
                <option value="2012">Banglore</option>
            </select>
<!-- 
            <label for="fuelType" class="select">Fuel Type</label>
            <select name="fuelType" id="fuelType">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="CNG">CNG</option>
            </select> -->
        </div>
	</div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <input type="submit" class="ui-btn submit-btn" value="View Quote">
    </div>
</div>