<div data-role="page" data-dialog="true" id="carQuoteDialog"  data-external-page="true" tabindex="0" class="ui-page ui-page-theme-a ui-dialog ui-page-active" style="min-height:90%;"><!-- <div role="dialog" class="ui-dialog-contain ui-overlay-shadow ui-corner-all">
 -->
        <div data-role="header" data-theme="b" role="banner" class="ui-header ui-bar-b"><a href="#" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-left" data-rel="back">Close</a>
        <h1 class="quote-title" role="heading" aria-level="1" style="margin:0 200px !important">Here is your quote!</h1>
        </div>

        <div role="main" class="ui-content" id="myDialog">
         <div class="content"></div>
        <h1 claas="quotePrice"></h1>
        <p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p>
            <a href="dialog/index.html" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Buy Policy</a>
            <a href="dialog/index.html" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Cancel</a>
        </div>
    <!-- </div> -->
    </div>

    <script type="text/javascript">
       var carQuote = "420102";
    $(".quotePrice").text(carQuote);
    $("#myDialog").text("swapnil");

   
    </script>>