<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="box">
			<label for="carname">No claim bonus:</label>
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">

<div class="row" id="quoteDiscountDetails">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="box">
			<div class="ui-field-contain">
            <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>No claim bonus:</legend>
            <!-- <label for="noClaimBonus">No Claim Bonus:</label> -->
                <input type="radio" name="noclaim" id="noclaim_yes" value="YES" checked="checked">
                <label for="noclaim_yes">YES</label>
                <input type="radio" name="noclaim" id="noclaim_no" value="NO">
                <label for="noclaim_no">NO</label>
            </fieldset>
    	</div>

		<div class="box">
        <label for="deductibles">Additional Deductibles:</label>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            </div>
    	</div>

		<div class="box">
        <div class="ui-field-contain">
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend>Additional Deductibles:</legend>
			<input type="radio" name="deduct" id="noclaim_yes2" value="YES" checked="checked">
            <label for="noclaim_yes2">YES</label>
            <input type="radio" name="deduct" id="noclaim_no2" value="NO">
            <label for="noclaim_no2">NO</label>
        </fieldset>
            <div class="ui-field-contain">
    	</div>
        <br>
        <br>
	</div>
</div>

<div>Additional Cocerage Details</div>
<div class="row" id="quoteAdditionalCoverage">
 <div class="ui-field-contain">
    <fieldset data-role="controlgroup">
        <legend>Additional Covers:</legend>
        <input type="checkbox" name="roadSideAssistance" id="roadSideAssistance">
        <label for="roadSideAssistance">24x7 Roadside Assistance</label>
        <input type="checkbox" name="NCBProtection" id="NCBProtection">
        <label for="NCBProtection">NCB Protection</label>
        <input type="checkbox" name="driverCover" id="driverCover">
        <label for="driverCover">Driver Cover</label>
        <input type="checkbox" name="passengeCover" id="passengeCover">
        <label for="passengeCover">Passenger Cover</label>
        <input type="checkbox" name="engineProtection" id="driverCover">
        <label for="driverCover">Engine Protector</label>
        <input type="checkbox" name="accessories" id="accessories">
        <label for="accessories">Accessories</label>
        <input type="checkbox" name="invoice" id="invoice">
        <label for="invoice">Invoice COver</label>
    </fieldset>
</div>   

</div>

<br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <input type="submit" class="ui-btn" value="View Quote">
    </div>
</div>