<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
    	<div class="box">
    		<label for="username">Username:</label>
    		<input type="text" name="username" id="username" value="" data-clear-btn="true" class="required" placeholder="Username">

    		<label for="password">Password:</label>
    		<input type="password" name="password" id="password" value="" data-clear-btn="true" class="required" placeholder="Password" autocomplete="off">
    	</div>

		<div class="box">
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="loginType" id="mobile" value="mobile" checked="checked">
                <label for="mobile">MOBILE</label>
                <input type="radio" name="loginType" id="icici" value="icici">
                <label for="icici">ICICI</label>
                <input type="radio" name="loginType" id="aadhar" value="aadhar">
                <label for="aadhar">AADHAR</label>
                <input type="radio" name="loginType" id="email" value="email">
                <label for="email">EMAIL</label>
                <input type="radio" name="loginType" id="gmail" value="gmail">
                <label for="gmail">GMAIL</label>
            </fieldset>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
    	<input type="submit" class="ui-btn" value="Submit">
    </div>
</div>