.nd2Tabs {
	margin: 0 0 0 30px;
}

.ui-header .ui-title, .ui-footer .ui-title {
	margin: 0 30px;
}

.bottomsheet {
	z-index: 99999999;
}

.ui-input-btn {
	background-color: #ff5722 !important;
    color: white !important;
}

.ui-bottom-sheet-link {
    padding: 10px;
}

.zmd-2x {
    font-size: 1.5em;
}

.ui-bottom-sheet-link strong {
    font-size: 12px;
}